@model SubCategoryRequestPaginationModel

<section class="col-lg-7 connectedSortable ui-sortable">
    <!-- Yêu Cầu Về Phân Loại Phụ -->
    <div class="card">
        <!-- Card Header -->
        <div class="card-header">
            <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i> Yêu Cầu Về Phân Loại Phụ
            </h3>
            <!-- Phân Trang -->
            <div class="card-tools">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><button class="page-link" value="-1">&laquo;</button></li>
                    @for (int i = Model.FirstPage; i < Model.PaginationPage + Model.FirstPage; i++)
                    {
                        <li class="page-item">
                            @if (i == Model.PageIndex)
                            {
                                <button id="subCategoryRequestPageIndex" class="page-link" value="@i"><u>@i</u></button>
                            }
                            else
                            {
                                <button class="page-link" value="@i">@i</button>
                            }
                        </li>
                    }
                    <li class="page-item"><button class="page-link" value="0">&raquo;</button></li>
                </ul>
            </div>
        </div>
        <!-- End Card Header -->
        <!-- Card Body -->
        <div class="card-body">
            <ul class="todo-list" data-widget="todo-list">
                @foreach (var subCategoryRequest in Model.SubCategoryRequestDTOs)
                {
                    <li>
                        <!-- Checkbox -->
                        <div class="icheck-primary d-inline ml-2">
                            <input id="@("subCategoryRequest" + @subCategoryRequest.Id)" type="checkbox" value="@subCategoryRequest.Id">
                            <label for="@("subCategoryRequest" + @subCategoryRequest.Id)"></label>
                        </div>
                        <!-- Request -->
                        <span>
                            <span class="text">@subCategoryRequest.RequestUserName</span>
                            đã yêu cầu thêm
                            <span style="margin: 0px;" class="text"><u>@subCategoryRequest.Name</u></span>
                            <span style="font-size: 10px;">
                                (
                                @foreach (var similaritySubCategory in subCategoryRequest.SimilaritySubCategories)
                                {
                                    <i>@similaritySubCategory, </i>
                                }
                                ...
                                )
                            </span>
                            vào
                            <span style="margin: 0px;" class="text">@subCategoryRequest.CategoryName</span>
                        </span>

                        <!-- Emphasis Label -->
                        <small class="badge @subCategoryRequest.Badge.Key"><i class="far fa-clock"></i> @subCategoryRequest.Badge.Value</small>
                    </li>
                }
            </ul>
        </div>
        <!-- End Cart Body -->
        <div class="card-footer clearfix">
            <button id="subCategoryRequestRejected" type="button" class="btn btn-danger float-right" style="margin-left: 5px;"><i class="fa-solid fa-ban"></i> Từ Chối</button>
            <button id="subCategoryRequestApproved" type="button" class="btn btn-primary float-right"><i class="fa-solid fa-plus"></i> Xác Nhận</button>
        </div>
    </div>
</section>

